<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="name" value="kumar"></parameter>
  <parameter name="address" value="ramapuram"></parameter>
  <parameter name="city" value="chennai"></parameter>
  <parameter name="state" value="tamilnadu"></parameter>
  <parameter name="zipCode" value="1234556"></parameter>
    <classes>
      <class name="org.runner.RunnerClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
